<h1>Dishes</h1>

<ul>
  <% @dishes.each do |dish| %>
    <li>
      <%= link_to dish.name, dish %> -
      <%= link_to dish.restaurants.take.name, dish.restaurants.take %>
    </li>
  <% end %>
</ul>

